@tailwind base;
@tailwind components;
@tailwind utilities;

.form-label {
  width: 100%;
  font-weight: 600;
}

.form-input {
  width: 100%;
  margin-bottom: 1rem;
}

.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover{
    background-color: black;
}

/* width */
::-webkit-scrollbar {
  width: 8px; 
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #b3b1b1; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #828282; 
}